@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


*{
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;

}

:root{
    --color-bg:#000000;
    --color-bg-variant:#ffffff;
    --color-praimary: #ffffff;
    --color-praimary-variant: rgba(240, 224, 224, 0.842);
    --color-white :#fff;
    --color-light: rgba(241, 229, 229, 0.774);
    --transition: all 0.4s ease;
}
body{
     font-family: "Poppins", sans-serif;
     background: var(--color-bg);
     color: var(--color-white);
     line-height: 1.7;
     /*background-image: url(assets/backk.jpg);*/
 
}
.container{
    width: 88%;
    margin: 0 auto;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
h1{
    font-size: 2.5rem;
}
section{
    padding-top: 8rem ;
}
.text-light{
    color:var(--color-light);
}

a{
    color: var(--color-praimary);
    transition: var(--transition);
}

a:hover{
   
    columns: var(--color-white);
}

.btn{
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem; 
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-praimary);
    transition: var(--transition);
}
.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-praimary{
    background: var(--color-praimary);
    color:var(--color-bg);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}
/* media queries tablet*/

@media (max-width: 1024px) {
    .container{
        width: 85%;
    }
    section{
    padding-top: 6rem ;
}
    
}

/* media queries mobile*/


@media (max-width: 600px) {
    .container{
        width: 90%;
    }
    section{
    padding-top: 4rem ;
}
    
}

html {
  scroll-behavior: smooth;
}
